body{
  margin: 0;
}
header{
	font-family: 'Roboto Slab', serif;
	color:#ffcc99;
}




h1,h2,h3,h4{
  margin: 0;
}



.loginButton {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background:#ffcc99;
  transition: 0.2s;
}

.loginButton:hover { 
background: rgb(53, 167, 110); 
color: white;
}

.loginButton:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.headerStyle{
  height: 10vh;
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to bottom,#80a6c8 0,#5491c8 100%);

} 
@media (max-width: 430px){

  .loginButton{
    display: flex;
    flex-direction: column;
    padding: .3em 1em calc(.3em + 3px);
    margin:10px; 
  }
}
.backgroundChill{
  
  background-color: whitesmoke;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
  box-shadow: 0 4px 10px 2px rgba(90,90,90,0.4);
  -moz-box-shadow: 0 4px 10px 2px rgba(90,90,90,0.4);
  -webkit-box-shadow: 0 4px 10px 2px
rgba(90,90,90,0.4);
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
}

.backPic{
  background-image:url(img/back.jpg);
  height: 85vh;
}

.footerChill{
  min-height: 5vh;
  width: 100wv;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(to top,#80a6c8 0,#5491c8 100%);
  font-size: 19px;
  align-items: center;
  box-shadow: 0 4px 10px 2px rgba(90,90,90,0.4);
  color:#ffcc99;
  font-weight: bold;
  margin-bottom: 4px;
  padding: 2px 20px 2px 30px;
  position: relative;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  list-style: none;
}
a {
  padding: 2px; /* Поля вокруг текста ссылки */
  text-decoration: none; /* Убираем подчёркивание */
 }
 a:hover {
  background: #999; /* Цвет фона при наведении на ссылку курсора */
  color:white; /* Новый цвет текста */
 }
 .block-form-input{
   width: 600px;
   font-size: 18px;
   font-weight: 900;
   color: #8d80c8;
   border-radius: 4px;
 }
 .logoFlex{
  font-size:4vh; 
  font-family: 'Anton', sans-serif;
 }

.strTD{
 padding-left: 170px;
 color: #999;
 font-size: 20px;
 vertical-align: middle;
 margin: 0;
 padding-top: 5vh;
 padding-bottom: 5vh;
 font-weight: 100;
 margin-bottom:25px;
}
.addAct{

  color: #ffcc99;
}
.addAct:hover {
  background-color: rgb(107,156,200); /* Цвет фона при наведении на ссылку курсора */
  color:white; /* Новый цвет текста */
 }
.task{
  width:90%;
  line-height: 28px;
  font-size: 20px;
  font-weight: 900;
  color: #8d80c8;
  margin: 0;
  padding: 0;
}

button:hover {
  color: 
  #333;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  vertical-align: middle;
}

.TT{
    padding-top:5vh;
    color: #999;
    padding-left: 13%;
    font-size: 35px;
}
.addItemPanel{
  margin-top:25px;
  display: block;
  text-align: center;
}

.newTask{
  width: 80%;
  background: white;
  border: none;
  padding:5px;
  font-size: 15px;
  color: #999;
}


.delete{
  position: absolute;
  right: 10px;
  padding-top: 6px;
  opacity: 0;
}

.task:hover{
  
  border: lightblue solid 1px;
  border-radius: 4px;
  background-color: lavender;
}

.task:hover .delete {
  opacity: 1;
}

.brdr{
  border: lavender solid 1px;
  border-radius: 5px;

}
.spanCheker{
  background: none;
  border: none;
  width: 90%;
  line-height: 28px;
  font-size: 15px;
  font-weight: 700;
  color: #8d80c8;
  margin: 0;
  padding: 0;
}
.doneExtra{
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-sizing: content-box;
}
.doneTaskDecor .task .spanCheker{ 
  text-decoration: line-through;
}
.stockBar{
  content : '';
  width: 700px;
  background-color: #ffcc99;
  height: 4.5px;
  margin: auto;
}
.doneBar{
  content : '';
  max-width:700px;
  width: 100px;
  background-color: #8d80c8;
  height: 4.5px;
  margin-right:50px ;
  margin-left:50px ;
}
.contacts{
 
}